<!DOCTYPE html>
<html>
    <head>
        <title>Warframe Loadout</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="css/WarframeLoadout.css">
        <script data-main="js/WarframeLoadout" src="js/libs/require.js"></script>
    </head>
    <body>
        <div class="links"><div class="cell link"><a href="http://www.warframe.com">Warframe.com</a></div><div class="cell link"><a href="http://www.reddit.com/r/warframe">reddit r/Warframe</a></div><div class="cell link"><a href="http://www.reddit.com/r/Warframe/comments/1sdx2e/dpsframe_is_now_updated_for_damage_20/">(new) discussion thread on reddit</a></div></div>
        <div class="notes">Updated for Damage 2.0! (Update 12.0.1) dpsframe 12.0.1 rev. 1 <a href="https://forums.warframe.com/index.php?/topic/118754-a-web-based-dps-tool/#entry1993805">changelog</a><br></div>
        <div id="optionsContainer" class="box"></div>
        <div id="weaponContainer" class="weapon">Loading..</div>
        <script type="text/template" id="weaponTemplate">
            <%var color_class = ""%>
            <% if (categoryName === "Favorite") { color_class = "fav" }%>
            <div class="cell">
                <div class="weaponHeader">
                    <span class="name <%=color_class%>"><%= weapon.get("name") %></span><span class="dps"><%= result.dps.toFixed(0) %> DPS</span> 
                    <div class="divitis fav <%= (categoryName === "Favorite") ? "rem" : "add" %> noselect"><%= (categoryName === "Favorite") ? "&#9734; Remove" : "&#9733; Add" %> Favorite</div>
                    <%if(categoryName === "Linked"){%>
                    <div class="divitis share rem noselect">Remove Linked</div>
                    <%}%>
                    <div class="divitis share pop noselect"><span class="share arrow noselect">&#8620;</span> Share</div>
                    <div class="popupContainer">
                        <div class="popup sharepopup hidden">
                            <input type="text" class="shareText">
                            </input>
                        </div>
                    </div>
                </div>
                <div class="mastery">
                    <span class="expandeddps">Burst: <%= result.burst.toFixed(0)%> DPS, Infested: <%= weapon.get('infested').toFixed(0)%> DPS, Grineer <%= weapon.get('grineer').toFixed(0)%> DPS, Corpus <%= weapon.get('corpus').toFixed(0)%> DPS, Void <%= weapon.get('corrupted').toFixed(0)%> DPS</span>
                    
                    <br>
                    Mastery rank: <%= weapon.get('masteryRank')%>
                </div>
                <div class="cell">
                    <table class="damage">
                    <thead>
                        <tr>
                            <th>Shot Damage</th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <%for(var key in result['damageBreakdown']){%>
                        <% if (result['damageBreakdown'][key].toFixed(0) != 0) {%>
                        <tr>
                            <td><%= key %></td><td class="right"><%= result['damageBreakdown'][key].toFixed(0)%></td>
                        </tr>
                        <%}%>
                    <%}%>
                        <tr>
                            <td>Total per shot</td><td class="right"><%= result['shot'].toFixed(0)%></td>
                        </tr>
                    </tbody>
                    </table>
                    <div class="popupContainer">
                        <div class="popup dps hidden">
                             <div class="cell">
                                <table class="damage">
                                <thead>
                                    <tr>
                                        <th>DPS</th><th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%for(var key in result['dpsBreakdown']){%>
                                    <% if (result['damageBreakdown'][key].toFixed(0) != 0) {%>
                                    <tr>
                                        <td><%= key %></td><td class="right"><%= result['dpsBreakdown'][key].toFixed(0)%></td>
                                    </tr>
                                    <%}%>
                                <%}%>
                                    <tr>
                                        <td>Total DPS</td><td class="right"><%= result['dps'].toFixed(0)%></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div class="cell">
                                <table class="damage">
                                <thead>
                                    <tr>
                                        <th>Burst</th><th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <%for(var key in result['dpsBreakdown']){%>
                                    <% if (result['damageBreakdown'][key].toFixed(0) != 0) {%>
                                    <tr>
                                        <td><%= key %></td><td class="right"><%= result['burstBreakdown'][key].toFixed(0)%></td>
                                    </tr>
                                    <%}%>
                                <%}%>
                                    <tr>
                                        <td>Total burst DPS</td><td class="right"><%= result['burst'].toFixed(0)%></td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <table class="stats">
                    <thead>
                        <tr>
                            <th>Stats</th><th></th>
                        </tr>
                    </thead>
                    <tbody>
                    <%for(var key in result['stats']){%>
                        <%var stat_name = key %>
                        <%var stat_value = result['stats'][key] %>
                        <%if((stat_name === "Crit Damage")) {
                            stat_value = (stat_value *= 100).toFixed(0) + "%";
                          } else if((stat_name === "Crit Chance") || (stat_name === "Time Firing")){
                            stat_value = (stat_value *= 100).toFixed(2) + "%";
                          } else if(stat_name === "Status Probability"){
                            stat_value = stat_value.toFixed(2) + "%";
                          } else if(stat_name === "Status Chance"){
                            var proc_chances =((weapon.get('Projectiles') || 1.0) * (1 + result['Multishot'] / 100));
                            stat_name += " (" + proc_chances.toFixed(1) + "x)";
                            stat_value = (stat_value *= 100).toFixed(2) + "%";
                          } else if(stat_name === "Ammo Lasts"){
                            if (stat_value === Infinity) { 
                                stat_value = "Inf. sec";
                            } else {
                                stat_value = stat_value.toFixed(1) + " sec";
                            }
                          } else {
                            stat_value = stat_value.toFixed(2);
                          }%>
                        <tr>
                            <td><%= stat_name %></td><td class="right"><%= stat_value%></td>
                        </tr>
                    <%}%>
                    </tbody>
                    </table>
                    <div class="popupContainer">
                        <div class="popup stats hidden">
                        <table class="stats">
                            <thead>
                                <tr>
                                    <th>Base Stats</th><th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <%for(var key in result['baseDamageStats']){%>
                                <%var stat_name = key %>
                                <%var stat_value = result['baseDamageStats'][key].toFixed(2) %>
                                <%if(stat_value > 0) {%>
                                    <tr>
                                        <td><%= stat_name %></td><td class="right"><%= stat_value%></td>
                                    </tr>
                                <%}%>
                                
                           <%}%>
                           <tr>
                               <td></td><td class="right"></td>
                           </tr>
                            <%for(var key in result['stats']){%>
                                <%var stat_name = key %>
                                <%var stat_value = weapon.get(key) || 0; %>
                                <%if(stat_name === "Crit Damage") {
                                    stat_value = (stat_value *= 100).toFixed(0) + "%";
                                  } else if(stat_name === "Crit Chance"){
                                    stat_value = (stat_value *= 100).toFixed(2) + "%";
                                  } else if(stat_name === "Status Probability"){
                                    var proc_chances = (weapon.get('Projectiles') || 1.0);
                                    stat_value = ((1 - (Math.pow(1 - (weapon.get('Status Chance') / 100), proc_chances)))*100).toFixed(2) + "%";
                                  } else if(stat_name === "Status Chance"){
                                    var proc_chances = (weapon.get('Projectiles') || 1.0);
                                    stat_name += " (" + proc_chances.toFixed(1) + "x)";
                                    stat_value = stat_value.toFixed(2) + "%";
                                  } else if(stat_name === "Avg. Procs/Shot"){
                                    stat_value = (weapon.get('Projectiles') || 1.0) * (weapon.get('Status Chance') / 100 || 0);
                                    stat_value = stat_value.toFixed(2);
                                  } else if(stat_name === "Time Firing"){
                                    stat_value = (weapon.get('Magazine Capacity') / weapon.get('Fire Rate'))/((weapon.get('Magazine Capacity') / weapon.get('Fire Rate')) + weapon.get('Reload Speed'));
                                    stat_value = (stat_value *= 100).toFixed(2) + "%";
                                  } else if(stat_name === "Projectiles"){
                                    if(stat_value === 0){
                                        stat_value = 1;
                                    }
                                    stat_value = stat_value.toFixed(2);
                                  } else if(stat_name === "Ammo Lasts"){
                                    stat_value = ((weapon.get('Ammo Capacity') + weapon.get('Magazine Capacity')) / weapon.get('Fire Rate')) + ((weapon.get('Ammo Capacity') + weapon.get('Magazine Capacity')) / weapon.get('Magazine Capacity')) * (weapon.get('Reload Speed') || 0.0001);
                                    if (stat_value === Infinity) { 
                                        stat_value = "Inf. sec";
                                    } else {
                                        stat_value = stat_value.toFixed(1) + " sec";
                                    }
                                  } else {
                                    stat_value = stat_value.toFixed(2);
                                  }%>
                                <tr>
                                    <td><%= stat_name %></td><td class="right"><%= stat_value%></td>
                                </tr>
                           <%}%>
                           </tbody>
                           </table>
                        </div>
                    </div>
                </div>
                <div class="cell">
                    <% var infestedAlts = weapon.get('infestedAltsDps');%>
                    <% var grineerAlts = weapon.get('grineerAltsDps');%>
                    <% var corpusAlts = weapon.get('corpusAltsDps');%>
                    <% var corruptedAlts = weapon.get('corruptedAltsDps');%>
                    <% var infestedMods = result['infested'].get('damageMultipliers');%>
                    <% var grineerArmorMods = result['grineer'].get('armorMultipliers');%>
                    <% var grineerHealthMods = result['grineer'].get('damageMultipliers');%>
                    <% var corpusShieldMods = result['corpus'].get('shieldMultipliers');%>
                    <% var corpusHealthMods = result['corpus'].get('damageMultipliers');%>
                    <% var corruptedArmorMods = result['corrupted'].get('armorMultipliers');%>
                    <% var corruptedShieldMods = result['corrupted'].get('shieldMultipliers');%>
                    <% var corruptedHealthMods = result['corrupted'].get('damageMultipliers');%>
                    <table class="scaling">
                       <thead>
                            <tr>
                                <th>Type</th>
                                <th class="infested right"><span class="dotted">Infested</span></th>
                                <th class="grineer right"><span class="dotted">Grineer</span></th>
                                <th class="corpus right"><span class="dotted">Corpus</span></th>
                                <th class="corrupted right"><span class="dotted">Void</span></th>
                            </tr>
                            </thead>
                         <tbody>
                            <%for(var key in infestedAlts){%>
                                <tr>
                                    <td><%= key %></td><td class="right"><%= infestedAlts[key]['DPS'].toFixed(0)%></td><td class="right"><%= grineerAlts[key]['DPS'].toFixed(0)%></td><td class="right"><%= corpusAlts[key]['DPS'].toFixed(0)%></td><td class="right"><%= corruptedAlts[key]['DPS'].toFixed(0)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                    <div class="popupContainer">
                        <div class="popup enemies infested hidden">
                        </div>
                    </div>
                    <div class="popupContainer">
                        <div class="popup enemies grineer hidden">
                        </div>
                    </div>
                    <div class="popupContainer">
                        <div class="popup enemies corpus hidden">
                        </div>
                    </div>
                    <div class="popupContainer">
                        <div class="popup enemies corrupted hidden">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="auras">
                    <div class="cell">
                        Auras
                    </div>
                </div>
                <div class="modHeader">
                    <div class="modCount">Active Mods: <%= weapon.get("activeModCount")%>,</div>
                    <div class="modPoints">Total Points: <%= weapon.get("activeModPoints")%></div>
                </div>
                <div class="cell modules">
                </div>
            </div>
        </script>
        <script type="text/template" id="infestedFactionDamageTemplate">
            <% var infestedMods = alts.infested.get('damageMultipliers');%>
            <% var disrupterMods = alts.disrupter.get('damageMultipliers');%>
            <% var healerMods = alts.healer.get('damageMultipliers');%>
            <% var chargerMods = alts.charger.get('damageMultipliers');%>
            <% var runnerMods = alts.runner.get('damageMultipliers');%>
            <div class="factionWrapper">
                <div class="factiondamage">
                 <div class="noselect">
                    <table class="scaling infestedDamageType">
                       <thead>
                            <tr>
                                <th class="infestedDamageType">Type</th>
                                <th class="right">Disrupter (Fo)</th>
                                <th class="right">Healer (S)</th>
                                <th class="right">Charger (I)</th>
                                <th class="right">Runner (Fl)</th>
                            </tr>
                            </thead>
                         <tbody>
                            <%for(var key in alts['disrupterResult']){%>
                                <tr>
                                    <td><%= key %></td><td class="right"><%= alts['disrupterResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['healerResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['chargerResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['runnerResult'][key]['DPS'].toFixed(0)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                 </div>
               </div>
               
                <div class="">
                    <table class="enemies">
                    <thead>
                    <tr>
                        <th class="damageType">Infested</th><th class="right">Average Health</th><th class="right">Fossilized</th><th class="right">Sinew</th><th class="right">Infested</th><th class="right">Flesh</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(var key in result['damageBreakdown']){%>
                        <%if(key.indexOf("DoT") === -1){%>
                            <tr>
                                <td><%= key %></td>
                                <% if((infestedMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (infestedMods[key] < 0) ? "red" : "green" %>"><%= infestedMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((disrupterMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (disrupterMods[key] < 0) ? "red" : "green" %>"><%= disrupterMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((healerMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (healerMods[key] < 0) ? "red" : "green" %>"><%= healerMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((chargerMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (infestedMods[key] < 0) ? "red" : "green" %>"><%= chargerMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((runnerMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (infestedMods[key] < 0) ? "red" : "green" %>"><%= runnerMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                            </tr>
                        <%}%>
                    <%}%>
                   </tbody>
                   </table>
               </div>
               
            </div>
        </script>
        <script type="text/template" id="grineerFactionDamageTemplate">
            <% var grineerMods = alts.grineer.get('damageMultipliers');%>
            <% var grineerArmorMods = alts.grineer.get('armorMultipliers');%>
            <% var napalmMods = alts.napalm.get('damageMultipliers');%>
            <% var napalmArmorMods = alts.napalm.get('armorMultipliers');%>
            <% var lancerMods = alts.lancer.get('damageMultipliers');%>
            <% var lancerArmorMods = alts.lancer.get('armorMultipliers');%>
            <div class="factionWrapper">
                <div class="factiondamage">
                 <div class="noselect">
                    <table class="scaling grineerDamageType">
                       <thead>
                            <tr>
                                <th class="grineerDamageType">Type</th>
                                <th class="right armor">Heavy Gunner (F)</th>
                                <th class="right armor">Napalm (A)</th>
                                <th class="right armor">&nbsp;Lancer (F)</th>
                            </tr>
                            </thead>
                         <tbody>
                            <%for(var key in alts['napalmResult']){%>
                                <tr>
                                    <td><%= key %></td><td class="right"><%= alts['gunnerResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['napalmResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['lancerResult'][key]['DPS'].toFixed(0)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                 </div>
               </div>
               
                <div class="">
                    <table class="enemies">
                    <thead>
                    <tr>
                        <th class="grineerDamageType">Grineer</th><th class="right armor">Avg. Armor</th><th class="right health">Cloned</th><th class="right armor">&nbsp;&nbsp;&nbsp;&nbsp;Alloy</th><th class="right armor">&nbsp;&nbsp;&nbsp;Ferrite</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(var key in result['damageBreakdown']){%>
                        <%if(key.indexOf("DoT") === -1){%>
                            <tr>
                                <td><%= key %></td>
                                <% if((grineerArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (grineerArmorMods[key] < 0) ? "red" : "green" %>"><%= grineerArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((napalmMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (napalmMods[key] < 0) ? "red" : "green" %>"><%= napalmMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((napalmArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (napalmArmorMods[key] < 0) ? "red" : "green" %>"><%= napalmArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                 <% if((lancerArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (lancerArmorMods[key] < 0) ? "red" : "green" %>"><%= lancerArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                            </tr>
                        <%}%>
                    <%}%>
                   </tbody>
                   </table>
                </div>
               
            </div>
            
        </script>
        <script type="text/template" id="corpusFactionDamageTemplate">
            <% var corpusMods = alts.corpus.get('damageMultipliers');%>
            <% var corpusShieldMods = alts.corpus.get('shieldMultipliers');%>
            <% var techMods = alts.tech.get('damageMultipliers');%>
            <% var techShieldMods = alts.tech.get('shieldMultipliers');%>
            <% var crewmanMods = alts.crewman.get('damageMultipliers');%>
            <% var crewmanShieldMods = alts.crewman.get('shieldMultipliers');%>
            <% var moaMods = alts.moa.get('damageMultipliers');%>
            <% var moaShieldMods = alts.moa.get('shieldMultipliers');%>
            <div class="factionWrapper">
                <div class="factiondamage">
                 <div class="noselect">
                    <table class="scaling corpusDamageType">
                       <thead>
                            <tr>
                                <th class="corpusDamageType">Type</th>
                                <th class="right shield">Crewman (S)</th>
                                <th class="right shield">Tech (P)</th>
                                <th class="right shield">&nbsp;&nbsp;Moa (S)</th>
                            </tr>
                            </thead>
                         <tbody>
                            <%for(var key in alts['crewmanResult']){%>
                                <tr>
                                    <td><%= key %></td><td class="right"><%= alts['crewmanResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['techResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['moaResult'][key]['DPS'].toFixed(0)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                 </div>
               </div>
            
                <div class="">
                    <table class="enemies">
                    <thead>
                    <tr>
                        <th class="">Corpus</th><th class="right health">Avg. H</th><th class="right shield">Avg. S</th><th class="right health">Flesh</th><th class="right shield">Shield</th><th class="right shield">Proto</th><th class="right health">Robotic</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(var key in result['damageBreakdown']){%>
                        <%if(key.indexOf("DoT") === -1){%>
                            <tr>
                                <td><%= key %></td>
                                <% if((corpusMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (corpusMods[key] < 0) ? "red" : "green" %>"><%= corpusMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((corpusShieldMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (corpusShieldMods[key] < 0) ? "red" : "green" %>"><%= corpusShieldMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((crewmanMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (crewmanMods[key] < 0) ? "red" : "green" %>"><%= crewmanMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((crewmanShieldMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (crewmanShieldMods[key] < 0) ? "red" : "green" %>"><%= crewmanShieldMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((techShieldMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (techShieldMods[key] < 0) ? "red" : "green" %>"><%= techShieldMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>

                                <% if((moaMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (moaMods[key] < 0) ? "red" : "green" %>"><%= moaMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                            </tr>
                        <%}%>
                    <%}%>
                   </tbody>
                   </table>
               </div>
               
            </div>
        </script>
        <script type="text/template" id="corruptedFactionDamageTemplate">
            <% var corruptedMods = alts.corrupted.get('damageMultipliers');%>
            <% var corruptedArmorMods = alts.corrupted.get('armorMultipliers');%>
            <% var corruptedShieldMods = alts.corrupted.get('shieldMultipliers');%>
            <% var gunnerMods = alts.gunner.get('damageMultipliers');%>
            <% var gunnerArmorMods = alts.gunner.get('armorMultipliers');%>
            <% var lancerMods = alts.lancer.get('damageMultipliers');%>
            <% var lancerArmorMods = alts.lancer.get('armorMultipliers');%>
            <% var crewmanMods = alts.crewman.get('damageMultipliers');%>
            <% var crewmanShieldMods = alts.crewman.get('shieldMultipliers');%>
            <% var ancientMods = alts.ancient.get('damageMultipliers');%>
            <% var moaMods = alts.moa.get('damageMultipliers');%>
            <% var moaShieldMods = alts.moa.get('shieldMultipliers');%>
            <div class="factionWrapper">
                <div class="factiondamage">
                 <div class="noselect">
                    <table class="scaling corruptedDamageType">
                       <thead>
                            <tr>
                                <th class="corruptedDamageType">Type</th>
                                <th class="right armor">Heavy Gunner (F)</th>
                                <th class="right armor">Lancer (A)</th>
                                <th class="right shield">Crewman</th>
                                <th class="right">Ancient</th>
                                <th class="right shield">Moa</th>
                            </tr>
                            </thead>
                         <tbody>
                            <%for(var key in alts['crewmanResult']){%>
                                <tr>
                                    <td><%= key %></td><td class="right"><%= alts['gunnerResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['lancerResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['crewmanResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['ancientResult'][key]['DPS'].toFixed(0)%></td><td class="right"><%= alts['moaResult'][key]['DPS'].toFixed(0)%></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>
                 </div>
               </div>
            
                <div class="">
                    <table class="enemies">
                    <thead>
                    <tr>
                        <th class="">Void</th><th class="right armor">Avg. A</th><th class="right health">Avg. H</th><th class="right shield">Avg. S</th><th class="right armor">Ferrite</th><th class="right armor">Alloy</th><th class="right health">Cloned</th><th class="right health">Flesh</th><th class="right health">Fossilized</th><th class="right shield">Shield</th><th class="right health">Robotic</th>
                    </tr>
                    </thead>
                    <tbody>
                        <%for(var key in result['damageBreakdown']){%>
                        <%if(key.indexOf("DoT") === -1){%>
                            <tr>
                                <td><%= key %></td>
                                <% if((corruptedArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (corruptedArmorMods[key] < 0) ? "red" : "green" %>"><%= corruptedArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((corruptedMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (corruptedMods[key] < 0) ? "red" : "green" %>"><%= corruptedMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((corruptedShieldMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (corruptedShieldMods[key] < 0) ? "red" : "green" %>"><%= corruptedShieldMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((gunnerArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (gunnerArmorMods[key] < 0) ? "red" : "green" %>"><%= gunnerArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((lancerArmorMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (lancerArmorMods[key] < 0) ? "red" : "green" %>"><%= lancerArmorMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                <% if((lancerMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (lancerMods[key] < 0) ? "red" : "green" %>"><%= lancerMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((crewmanMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (crewmanMods[key] < 0) ? "red" : "green" %>"><%= crewmanMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((ancientMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (ancientMods[key] < 0) ? "red" : "green" %>"><%= ancientMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                <% if((crewmanShieldMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (crewmanShieldMods[key] < 0) ? "red" : "green" %>"><%= crewmanShieldMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                                
                                

                                <% if((moaMods[key] || 0) !== 0) {%>
                                    <td class="right"><span class="<%= (moaMods[key] < 0) ? "red" : "green" %>"><%= moaMods[key].toFixed(2)%></span></td>
                                <%} else {%><td class="right">-</td><%}%>
                            </tr>
                        <%}%>
                    <%}%>
                   </tbody>
                   </table>
               </div>
               
            </div>
        </script>
        <script type="text/template" id="moduleTemplate">
            <% var mod_fade = '' %>
            <% if(module.get('currentRank') === 0) { mod_fade = 'faded' } else if (module.get('currentRank') != module.get('maxRanks')){ mod_fade = 'partialfade' } %>
            <% var current_rank = module.get('currentRank') - 1 %>
            <% if(current_rank === -1){ current_rank = "-";} %>
            <% var sign = ""%>
            <% if(module.get('moduleDpsDifference') >= 0) { sign = "+"}%>
            <div class="inc rank noselect">+</div>
            <div class="mid rank noselect <%= mod_fade%>"><%= current_rank %> / <%= module.get('maxRanks') - 1 %></div>
            <div class="dec rank noselect">-</div>
            <div class="moduletext <%= mod_fade%>"><%= module.get('name')%> <span class="damageDiff">(<%= sign%><%= module.get('moduleDpsDifference').toFixed(0) %>)</span></div>
            <div class="popupContainer">
                <div class="popup hidden">
                    <%var percents = module.getPercents();%>
                    <%var types = module.get('types');%>
                    <% for(key in percents){%>
                        <% if(key !== "Puncture"){%>
                            <div><%= key %>: <%= percents[key]%>% (<%=types[key]%>% per point)</div>
                        <%} else {%>
                            <div><%= key %>: <%= percents[key] / 100%> meters (<%=types[key] / 100%> m per point)</div>
                        <%}%>
                    <%}%>
                    <div class="totalModDps"></div>
                </div>
            </div>
        </script>
        <script type="text/template" id="auraHeaderTemplate">
            <div class="cell auras" id="auraHeader">AURAS</div>
            <div class="cell auras" id="auras"></div>
            <div class="cell auras noselect recalc">Recalculate all</div>
        </script>
        <script type="text/template" id="auraTemplate">
            <%var percents = aura.getPercents();%>
            <% var mod_fade = '' %>
            <% if(aura.get('currentRank') === 0) { mod_fade = 'faded' } else if (aura.get('currentRank') != aura.get('maxRanks')){ mod_fade = 'partialfade' } %>
            <% var current_rank = aura.get('currentRank') - 1 %>
            <% var people = Math.floor((aura.get('currentRank') - 1) / 6) + 1 %>
            <% current_rank = (current_rank % 6) %>
            <% if(current_rank === -1){ current_rank = "-";} %>
            <% var sign = ""%>
            <% if(aura.get('moduleDpsDifference') >= 0) { sign = "+"}%>
            <div class="inc rank noselect">+</div>
            <div class="mid rank noselect <%= mod_fade%>"><%= current_rank %> / <%= (aura.get('maxRanks') - 1) % 6 %> (<%= people %>)</div>
            <div class="dec rank noselect">-</div>
            <div class="moduletext <%= mod_fade%>"><%= percents[Object.keys(percents)[0]] %>% <%= aura.get('name')%> <span class="damageDiff">(<%= sign%><%= aura.get('moduleDpsDifference').toFixed(0) %>)</span>
            <div class="popupContainer">
                <div class="popup aura hidden">
                    <%var types = aura.get('types');%>
                    <% for(key in percents){%>
                        <div><%= key %>: <%= percents[key]%>% (<%=types[key]%>% per point)</div>
                    <%}%>
                    <div class="totalAuraDps"></div>
                </div>
            </div>
        </script>
        <script type="text/template" id="optionsTemplate">
            <div class="option noselect <%= op.get('option')%> mark"><%= op.get('name')%></div>
        </script>
        <script type="text/template" id="weaponHeaderTemplate">
            <div class="box weaponTypeHeader <%= weaponType.toLowerCase() %>" id="<%= weaponType.toLowerCase()%>">
                <div class="weaponCategoryHeader">
                    <div class="cell" id="sortContainer"><%= weaponType.toUpperCase() %><% if(weaponType.toUpperCase() !== "LINKED"){%>S<%}%></div>
                    <div class="cell" id="modControlContainer"></div>
                </div>
            </div>
        </script>
        <script type="text/template" id="weaponCategoryTemplate">
            <div></div>
        </script>
        <script type="text/template" id="sortTemplate">
            <% var local_name = sortType.get('name').toLowerCase().replace(/ /g,'') %>
            <% var state =  "" %>
            <% if(sort_name === local_name){  
                    state = ""
               } else {
                    state = "faded" 
               } %>
            <div class="sortType <%= local_name %> <%= (sort_asc) ? "asc" : "desc" %> noselect <%= state %>"><%= sortType.get('name')%></div>
        </script>
        <script type="text/template" id="modControlTemplate">
            <div class="controlContainer">
                <div class="control clear cell noselect">Clear Mods</div>
                <div class="control default cell noselect">Default Mods</div>
            </div>
        </script>
        <script type="text/template" id="searchTemplate">
            <div class="filter"><input type="text" class="filter" placeholder="Filter name.."></input></div>
        </script>
    </body>
</html>